.summaryArticleBackgroundImg {
  height: 1001px;
  background-image: url("C:\Users\helix\Documents\rangtalk_page\public\img\img_back@2x.png");
  border: 1px solid black;
}

.video {
  max-width: 1920px;
  max-height: 1080px;
  background-color: rgb(233, 239, 246);
  padding: 202px 360px;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 1200px;
  height: 675px;
}
