.summaryArticleBackgroundImg {
  height: 1001px;
  background-image: url("C:\Users\helix\Documents\rangtalk_page\public\img\img_back@2x.png");
  border: 1px solid black;
}

.video {
  max-width: 1920px;
  max-height: 1080px;

  background-color: rgb(233, 239, 246);
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 80%;
  height: 80%;
}

.img_mockup_teacher {
  width: 670px;
  height: 670px;
}

.detailArticleContainer {
  width: 1920px;
  height: 1080px;
  background-color: #f3f5f8;
}

.dot {
  width: 6px;
  height: 6px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background-color: #71a5d9;
}

.subDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 20px 20px 20px 1fr 1fr 20px 20px 20px 1fr 1fr;
}

.FAQContainer {
  width: 1920px;
  height: 1080px;
  background-color: #e1e7ea;
}
